<!DOCTYPE html>
<html lang='en'>

<head>
  <link rel='stylesheet' type='text/css' href='/css/application.css'/>	
 	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous"> 
	<title> Prototype Sinatra </title>
	<meta charset='utf-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  <script type='text/javascript' src='/js/application.js'></script>


</head>

<body>

	<header id="header" data-template="stage-header" class=" header-transparent">
		<div id="header-inner" style="position:relative !important; background-color: #FFA500; text-align: center; height: 50px;" >
			<div style="position: absolute; left: 100px; top: 0px;">
				<img id="brand_nash" src="/img/brand_nash.gif">
			</div>	
			<div> 
				<h1 id="header-logo" class="quora" >
					<a href="/questions" rel="no follow"> 
						<span> Quora </span>
					</a>
				</h1>
				<h1 id='username_head'> <%= current_user.username%> </h1>
				<h3 style="position: absolute; right: 50px; top: 30px;" data-toggle="tooltip" title="show all questions of user"><a href="/user/<%= current_user.id %>/questions/"> All my questions </a>
				</h3>
				<h3 style="position: absolute; right: 50px; top: 60px;" data-toggle="tooltip" title="show all answers of user"><a href="/user/<%= current_user.id %>/answers/"> All my answers </a>
				</h3>
				<h5 id='logout_head' style="position: absolute; right: 100px; top: 100px;"> 					<a href="/logout">
						<span> Logout </span>
					</a>
				</h5>	
			</div>
			<br>
		</div>
	</header>

	<div id="datatable" style="position: absolute; left: 550px; top: 200px;">
	<p> <%= @question.title %> </p>
		<div>
			<form action='/questions/<%= @question.id %>/answers' method="post">
				<input type='text' name='answers[title]' placeholder=" ... " autocomplete="off" autocorrect="off" autocapitalize="off"><br>
				<button type="submit" class="btn btn-primary" id="answerquestion" style="position: absolute; left: 165px; bottom: 2px;"> Answer 
				</button>							
			</form>
		</div>
	</div>

</body>	

